/* external imports  */
@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* tailwind components  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* classes */
.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.iconStyle {
    /* border: 1px solid; */
    border-radius: 12px;
    padding: 4px;
    cursor: pointer;
    color: #dffd7e;
    border-color: #dffd7e;
    width: 32px;
    height: 32px;
}
.liStyle {
  /* border: 2px solid; 
  border-radius: 12px;
  padding: 4px;
  cursor: pointer;
    color: #dffd7e;
    border-color: #dffd7e; */
}
.navStyle {
  border-bottom: 1px solid #029d03;
}
